

:root {
    --prim: #F9FAF8;
    --sec: #E5E7EB;
    --high: #3882F6;
    --dark: #1F2937;
}


body {
    font-family: roboto, sans-serif;
    font-size: 18px;
}

/*colours, font-size*/
header, .intro, footer {
    color: var(--prim);
    background-color: var(--dark);
}
.intro p, .sign-up p, footer p { color: var(--sec); }
.info, .quote { color: var(-dark); }
h1 { font-size: 48px; }
#logo { font-size: 24px; }



/*Header and Footer*/
header, footer {
    display: flex;
    padding: 32px 10vw;
}

header { justify-content: space-between; }
footer { justify-content: center;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: var(--sec);
}

/*Intro*/
.intro {
    display: flex;
    gap: 32px;
    padding: 72px 10vw;
    justify-content: center;
}

button {
    padding: 12px 20px;
    border-radius: 12px;
    color: var(--prim); 
    font-size: 1.1em;
    font-weight: 700;
}

.intro button {
    background-color: var(--high);
}

#image {
    background-color: gray;
    padding: 16px;
    width: 40%;
    height: auto;
    flex-shrink: 0;    
}




/*Info section*/
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    padding: 32px 10vw 64px 10vw;

}

.cards {
    display: flex;
    gap: 2vw;
}

.box {
    width: 140px;
    height: 140px;
    border: 3px solid var(--high);
    border-radius: 12px;
    margin: 0 auto;
}

.card {
    text-align: center;
    max-width: 300px;
}



/*Quote section*/
.quote {
    background-color: var(--sec);
    font-size: 36px;
    padding: 90px 150px;
}

#Thor {
    text-align: right;
    font-size: 24px;
}



/*Sign-up section*/
.sign-up {
    background-color: var(--high);
    color: var(--prim);
    max-width: 700px;
    margin: 64px auto;
    padding: 32px 96px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.sign-up button {
    background-color: transparent;
    border: 2px solid var(--prim);
    align-self: center;
}






